h1,
h2,
h3 {
  margin-top: 0;
  text-align: center;
}

.container {
  width: 1200px;
  margin: 0 auto 0 auto;
  padding: 30px;
}

.container-flex {
  display: flex;
  justify-content: space-around;
}

.item-task {
  margin-bottom: 20px;
  list-style-type: none;
}

.item:not(:last-child) {
  margin-bottom: 20px;
}

/* Для задания № 3 */

#gallery {
  display: flex;
  padding: 0;
}

.item-gallery {
  width: 360px;
  height: 250px;
  list-style-type: none;
}

.item-gallery:not(:last-child) {
  margin-right: 30px;
}

.image-gallery {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

/* Для задания № 4 */

#value {
  display: inline-block;
  width: 30px;
  text-align: center;
}

/* Для задания № 5 */

.text {
  margin: 10px 0px 0px 0px;
  font-size: 18px;
  font-weight: 700;
}

/* Для задания № 6 */

#validation-input {
  border: 3px solid #bdbdbd;
}

#validation-input.valid {
  border-color: #4caf50;
}

#validation-input.invalid {
  border-color: #f44336;
}

/* Для задания № 7 */

#text {
  display: inline-block;
  min-height: 50px;
}

/* Для задания № 8 */

#controls {
  margin-bottom: 20px;
}

#boxes {
  display: flex;
}

.boxes-item {
  width: 30px;
  height: 30px;
  background-color: #4caf50;
}

.boxes-item:not(:last-child) {
  margin-right: 10px;
}

/* .boxes-item:nth-child(n + 1) {
  background-color: orange;
} */
